.related-list {
    background-color: var(--ion-color-light);
    border-top: 1px solid var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.subheading {
    font-size: 16px;
    color: var(--ion-color-medium);
    text-transform: uppercase;
    margin-bottom: -10px;
}

mark.current {
    background-color: orange;
}

.tab-bar {
    margin: 8px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
