.landing-page {
  .header {
    border-bottom: 1px solid #262626;
    margin: 0 36px;
  }

  .app-title h2 {
    font-size: 24px;
  }

  ion-segment {
    justify-content: flex-start;
  }

  ion-segment-button {
    flex: 0.1 0.1 auto;
  }

  .home-icon {
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
  }

  .right-links {
    font-size: 16px;

    a, ion-button {
      margin-right: 2em;
    }
  }

  .footer-links {
    align-items: flex-end;
  }

  .footer-links,
  .footer-links > a {
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: -0.16px;
    text-align: right;
  }

  .footer-links span {
    color: #ba1631;
  }

  a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
  }

  ion-button {
    font-family: "Noto Serif";
    font-size: 14.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    width: 175px;
    height: 52px;
    border-radius: 6.5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.31);
  }

  .main-content {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
  }

  .main-content p {
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
  }

  h1 {
    font-family: "Noto Serif";
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.38px;
    text-align: center;
    color: #262626;
  }

  h2 {
    font-family: "Noto Serif";
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.38px;
    color: #262626;
  }

  h3 {
    margin: 7px 0 0;
    font-family: "Noto Serif";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #262626;
  }

  .features-content {
    padding: 143px 36px 143px;
  }

  .feature {
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;

    .feature-col {
      height: 107px;
      width: 107px;
      background-color: #ffffff;
      margin-right: 35px;
      padding: 39px 33px 34px 37px;
      border-radius: 24px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.31);
      background-image: linear-gradient(to bottom, #ffffff, #f3f0f0);
      flex-basis: initial;
    }

    h6 {
      margin-top: 0px;
    }
  }

  h6 {
    font-family: "Noto Serif";
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.16px;
    color: #262626;
    margin-bottom: 0;
  }

  .feature-details > p {
    max-width: 458px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #262626;
    margin-top: 0;
  }

  .installation,
  .last-content {
    padding: 0 36px;
    margin-top: 15px;
  }

  .installation {
    figure {
      height: 100%;
    }

    .installation-steps {
      h6 {
        margin-bottom: 1em;
      }
    }
  }

  ol {
    font-family: "Noto Serif";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #262626;
    margin: 0;

    li {
      margin-bottom: 0.5em;

      .light {
        font-size: 18px;
        font-weight: normal;
      }
    }
  }

  ion-footer {
    margin-top: 80px;
    padding-top: 80px;
  }

  ion-footer img {
    max-height: 100px;
  }

  .images {
    text-align: center;

    .img-phone,
    .img-tablet {
      padding: 10px 20px;
    }

    .img-phone {
      display: none;
    }

    .img-tablet {
      max-width: 80%;
    }
  }

  @media screen and (max-width: 600px) {
    .images {
      .img-phone {
        display: block;
      }

      .img-tablet {
        display: none;
      }
    }

    .features-content {
      padding-left: 16px;
      padding-right: 16px;
    }

    .feature {
      margin-right: 0px;

      .feature-col {
        height: 75px;
        width: 75px;
        padding: 20px;
        margin-right: 20px;
      }
    }

    .right-links {
      display: none;
    }

    .header {
      margin: 0 16px;
    }

    .main-content {
      max-width: 90%;
    }

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 29px;
    }

    ion-button {
      width: 100%;
      font-size: 20.9px;
      height: 68px;
    }

    ion-row ion-col {
      flex-basis: initial;
    }

    .feature-row {
      flex-direction: column;
      margin-bottom: 30px;
    }

    .footer-links {
      align-items: flex-start;
      font-size: 32px;
      margin-top: 80px;
    }

    .footer-links a {
      font-size: 32px;
    }

    .last-content ion-row {
      justify-content: flex-start !important;
    }

    ion-footer img {
      height: auto;
    }

    .last-content > span {
      margin-top: 30px;
    }
  }

  .installation-instruction {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
